<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Article</th>
            <th scope="col">Title</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
        </tr>
    </thead>
    <tbody>
        <% if(quiz.length){ %>
            <% quiz.forEach(quiz => { %>
                <tr>
                    <td><a href="/articles/<%= quiz.article.id %>"><%=quiz.article.title %></a></td>
                    <td><%=quiz.title %></td>
                    <td><%=quiz.createdAt %></td>
                    <td><%=quiz.updatedAt %></td>
                </tr>
            <% }); %>
            <% }else { %>
                <tr>
                    <td colspan="4">
                        <%- include('../layouts/empty.ejs') %>
                    </td>
                </tr>
            <% } %>
    </tbody>
</table>