<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>develOps</title>
    <link rel="stylesheet" href="/vendors/bootstrap_v5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/css/main.css" />
    <link rel="stylesheet" href="/vendors/quill_v1.3.6/quill.snow.css">
</head>

<body class="min-vh-100">
    <%- include('./_navbar.ejs') %>
    <main class="min-vh-80 position-relative">
        <%- include('./_alert.ejs') %>
        <%- body %>
    </main>
    <%- include('./_footer.ejs') %>

    <script src="/vendors/bootstrap_v5/js/bootstrap.min.js"></script>
    <%- script %>
</body>

</html>