<div class="card">
    <img src="<%= article.imgPreview ? article.imgPreview : "/images/articles/image_placeholder.png" %>"
    class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">
            <%= article.title %> %>
        </h5>
        <p class="card-text">
            <%= article.preview %>
        </p>
        <% if (isLoggedIn){ %>
                <a href="/articles/<%= article.id %>" class="btn btn-primary stretched-link">See more</a>
            <% } else { %>
               <a href="/login" class="btn btn-primary stretched-link">Login to see more</a>
            <% } %>
    </div>
    <div class="card-footer text-muted">
        <%= article.createdAt %>
    </div>
</div>