<div class="container">

    <!-- <div class="row my-4">
        <div class="col-12 d-flex align-items-center">
           <a href="/categories/new" class="btn btn-md btn-primary text-decoration-none">New category</a>
        </div>
    </div> -->

    <div class="row d-flex flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <h1 class="fs-2 my-4">
                <%= header %>
            </h1>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-start justify-content-md-end">
            <div class="row col-12 col-md-8 mt-4 mt-md-0">
                <div class="col-<%= type === "update" ? '6' : '6 offset-md-6' %>">
                    <a href="/categories/new" class="btn btn-md btn-secondary text-decoration-none col-12">Category</a>
                </div>
                <% if (type === "update"){ %> 
                <div class="col-6">
                        <a href="/articles/<%= id %>/delete" class="btn btn-md btn-danger col-12">Supprimer</a>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    
    <form action="<%= action %>" method="POST" class="col-12">
        <div class="mb-3">
            <label class="form-label" for="catgeory">Select a category</label>
            <select class="form-select" id="category" name="category" aria-label="Default select example">
                <% categories.forEach(function(category){ %>
                    <% if (type === "update"){ %>
                    <option selected="<%= category.id === article.category %>" value="<%= category.id %>">
                        <%= category.label %>
                    </option>
                   <% }else{ %>
                        <option value="<%= category.id %>">
                            <%= category.label %>
                        </option>
                    <% } %>
                <% }); %>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="title">Choose a title</label>
            <input type="text" name="title" id="title" class="form-control mb-1" value="<%= type === "update" ? article.title : "" %>">
            <span data-validate="required" class="errors text-danger py-2"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" for="">What would your like to share ?</label>

            <!-- Create the editor container -->
            <div id="editor" data-content=<%- type==="update" ? article.content : "" %> style="min-height: 50vh;">
            </div>

            <input type="hidden" name="content" id="content">
            <input type="hidden" name="preview" id="preview">
            <input type="hidden" name="imgPreview" id="imgPreview">

        </div>

        <div class="row">
            <div class="col-12 col-lg-6 d-flex items-center justify-content-lg-start">
                <button class="btn btn-lg btn-primary mt-2 mb-4 col-12 col-lg-4">
                    preview
                </button>
            </div>
            <div class="col-12 col-lg-6 d-flex items-center justify-content-lg-end">
                <button type="submit" class="btn btn-lg btn-success mt-2 mb-4 col-12 col-lg-4">
                    submit
                </button>
            </div>
        </div>
    </form>
</div>
<script src="/js/articles/new.js" type="module"></script>