<%- include('../layouts/_banneer.ejs', {text: article.title }) %>

<div class="container py-4">
        <div id="toolbar" class="d-none"></div>
        <div id="editor" data-content=<%- article.content %> class="border-0" style="min-height: 50vh;">
        </div>
</div>

<div class="container">
        <h2 class="my-4">Let's test what you’ve just learnt !</h2>

        <% article.quiz.forEach((quiz)=>{ %>
                <form action="/quiz/<%= quiz.id %>/validate" method="post" class="form-quiz">
                        <p class="my-4 fs-2">
                                <%= quiz.title %>
                        </p>
                        <% if(quiz.userHasAnswered){ %>
                                <% quiz.userAnswers.forEach((answer, index)=>{ %>
                                        <%- include('../quiz/_user_answer.ejs', {answer, index}) %>
                                <% }) %>
                        <% }else{ %>
                                <% quiz.questions.forEach((question, index)=>{ %>
                                        <%- include('../quiz/_question.ejs', {question, index, quiz}) %>
                                <% }) %>
                        <% } %>
                        <% if(!quiz.userHasAnswered){ %>
                           <button type="submit" class="btn btn-lg btn-success mb-3">Submit</button>
                        <% } %>
                </form>
        <% }) %>

        <hr>

        <p class="fs-4 my-4">Administration zone</p>

        <div class="row mb-4">
                <div class="col-12 col-lg-4 d-flex align-items-center justify-content-start">
                        <a href="/articles/<%= article.id %>/edit" class="btn-lg btn-primary text-decoration-none text-center w-100">UPDATE</a>
                </div>
                <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center">
                        <a href="/quiz/new" class="btn-lg btn-secondary text-decoration-none text-center w-100">NEW QUIZ</a>
                </div>
                <div class="col-12 col-lg-4 d-flex align-items-center justify-content-end">
                        <a href="/articles/<%= article.id %>/delete" class="btn-lg btn-danger text-decoration-none text-center w-100">DELETE</a>
                </div>
        </div>
     
</div>
<script src="/js/articles/show.js"></script>
<script src="/vendors/quill_v1.3.6/quill.min.js"></script>
<script>
        const articleContent = <%- article.content %>;
        const editor = new Quill('#editor', {
                modules: {
                        toolbar: {
                                container: "#toolbar"
                        }
                },
                placeholder: 'Compose an epic...',
                readOnly: true,
                theme: 'snow'
        });

        editor.setContents(articleContent)
</script>