<%- include('../layouts/_banneer.ejs', {text: "Code like a pro, read the resource, take the quizz !!" }) %>

    <div class="container my-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
               <%- include('../articles/_card.ejs') %>
            </div>
            <div class="col">
                <%- include('../articles/_card.ejs') %>
            </div>
            <div class="col">
                <%- include('../articles/_card.ejs') %>
            </div>
            <div class="col">
                <%- include('../articles/_card.ejs') %>
            </div>
        </div>
    </div>